<li>
	<%= gravatar_for user, :size => 30 %>
	<%= link_to user.name, user %>
	<%= link_to "Add Friend", user, :class => "add_friend_button round"%>
	<% if current_user.admin? %>
	| <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
								  :title => "Delete #{user.name}" %>
	<% end %>
</li>